*{
  padding:0px;
  margin:0px;
}

html { 
  background-color: #008080;
  background-size: cover;
}

p{
  font-family:"MS Sans Serif";
}

h1{
  margin-left: 20px;
}

button, input{
    font-family:"MS Sans Serif";
    outline:1px solid #000000;
    border-width:1px;
    border-style:solid;
    border-color:#FFFFFF #808080 #808080 #FFFFFF;
    padding: 2px;
}

button {
  background:#C0C0C0;
  padding-left: 5px;
  padding-right: 5px;

}

input {
  background: white;
}

button:active{
  outline:none;
}

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  flex-wrap: wrap;
  margin-bottom: 3px;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 360px
}

.control-panel{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  background:#c0c0c0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  border-style:solid;
  padding:1px;
}

.control-panel > * {
  margin: 5px;
}

#control-buttons{
  width: 160px;
  height: 17px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}


.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width:300px;
  background:#c0c0c0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  border-style:solid;
  padding:1px;
  margin: 10px
}

.item p {
  margin-left: 4px;
}

.item-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  background:#000080;
  color:#FFF;
  font-family:Tahoma;
  font-weight:bold;
}

.item-title button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 1px;
  width: 16px;
  height: 16px;
}

.item-title .edit-button {
  font-size: 11px;
}


.button-container {
  display: flex;
  align-content: center;
  justify-content: center;
}


.edit-item{
  display: flex;
  flex-direction: column;
}

.edit-item span {
  margin-left: 4px;
}


.edit-item button {
  margin: 10px;
  align-self: center;
  padding-left: 5px;
  padding-right: 5px;
}

#title-number{
  color: white;
}